.content{
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;


	@include susy-breakpoint( $mobile) {
		width: 95%;
	}


	@include susy-breakpoint( $tablet) {
		width: 95%;
	}

	.cont_img_thanks{
		float: left;

		@include susy-breakpoint( $mobile) {
			float: none;
			width: 100%;
			text-align: center;
		}

		img{
			@include susy-breakpoint( $mobile) {
				width: 250px;
			}

			@include susy-breakpoint( $tablet-768) {

				width: 300px;
			}

			@include susy-breakpoint( $tablet-1024) {

				width: 400px;
			}



		}
	}
	.cont_img{
		float: left;

		@include susy-breakpoint( $mobile) {
			float: none;
			width: 100%;
			text-align: center;
		}

		img{
			@include susy-breakpoint( $mobile) {
				display: none;
			}

			@include susy-breakpoint( $tablet-768) {

				width: 300px;
			}

			@include susy-breakpoint( $tablet-1024) {

				width: 400px;
			}


		}

		
			
		
	}
	.copy{
		text-align: right;
		width: 525px;
		float: right;

		@include susy-breakpoint( $mobile) {
			float: none;
			width: 100%;
			text-align: center;
		}

		@include susy-breakpoint( $tablet-768) {
			width: 410px;
		}

		@include susy-breakpoint( $tablet-1024) {
			width: 445px;
		}

		img{

			@include susy-breakpoint( $mobile) {
				width: 90%;
				max-width: 400px;
			}

			&.img_cierre{
				max-width: 279px;
				margin-top: 20px;
			}

		}

		.formulario{
			width: 351px;
			float: right;
			text-align: left;

			@include susy-breakpoint( $tablet-768) {
				text-align: left;
			}

			@include susy-breakpoint( $mobile) {
				text-align: center;
				width: 100%;
			}

			.campo{
				margin-bottom: 30px;

				@include susy-breakpoint( $mobile) {
					margin-bottom: 20px;
				}

				label{
					color: #000;
					font-family: $font-HelveticaNeueLTProBdCn;
					font-size: 18px;
					text-transform: uppercase;
					margin-bottom: 5px;
					width: 100%;
					float: left;

					@include susy-breakpoint( $mobile) {
						
						font-size: 16px;
						
					}

				}
				input{
					border:1px solid #d8202a;
					width: 328px;
					height: 35px;
					font-size: 16px;
					padding-left: 10px;
					padding-right: 10px;
					font-family: $font-HelveticaNeueLTProLtCn;
					

					@include susy-breakpoint( $mobile) {
						width: 260px;
						
					}

					@include susy-breakpoint( $tablet-768) {
						width: 330px;
					}

					@include susy-breakpoint( $tablet-1024) {
						
					}
				}

				.customSelect { 
				/* This is the default class that is used */
				/* Put whatever custom styles you want here */
					width: 338px;
					padding-left: 10px;
				    font-size: 17px;
				    padding-top: 5px;
				    height: 25px;
				    color: #000;
				    border: solid #d8202a 1px;
				    text-align: left;
				    font-family: $font-HelveticaNeueLTProLtCn;

				    @include susy-breakpoint( $tablet-1024) {
				    	
				    }

				    @include susy-breakpoint( $mobile) {
				    	width: 270px;
				    }
				    
				}

				.customSelect.customSelectHover {
				/* Styles for when the select box is hovered */
				}

				.customSelect.customSelectOpen {
				/* Styles for when the select box is open */
				}

				.customSelect.customSelectFocus {
				/* Styles for when the select box is in focus */
				}

				.customSelect.customSelectDisabledOption {
				/* Styles for when the selected item is a disabled one */
				}

				.customSelect.customSelectDisabled {
				/* Styles for when the select box itself is disabled */
				}

				.customSelectInner {
				/* You can style the inner box too */
					width: 100%!important;
					background: url(../images/customSelect-arrow.png) no-repeat 98% center;
				}
			}
		}

		.links_formu{
			width: 100%;
			float: right;
			text-align: right;

			@include susy-breakpoint( $mobile) {
				text-align: center;
			}

			a{
				display: inline-block;
				text-decoration: none;
				font-family: $font-HelveticaNeueLTProLtCn;
				color: #000;
				

				@include susy-breakpoint( $mobile) {
					width: 100%;
				}

				&.btn_summit{
					width: 169px;
					height: 30px;
					padding-top: 6px;
					background-color: #dd1e25;
					color: #fff;
					text-align: center;
					font-size: 18px;
					text-transform: uppercase;
					margin-left: 10px;
					font-family: $font-HelveticaNeueLt;

					@include susy-breakpoint( $mobile) {
						margin-left: 0px;
						margin-top: 10px;
					}
				}
			}
		}
	}

	.copy_thanks{
		text-align: center;
		width: 525px;
		float: right;
		margin-top: 220px;

		@include susy-breakpoint( $mobile) {
			float: none;
			width: 100%;
			text-align: center;
			margin-top: 20px;
		}

		@include susy-breakpoint( $tablet-768) {
			width: 410px;
			margin-top: 120px;
		}

		@include susy-breakpoint( $tablet-1024) {
			width: 457px;
			margin-top: 180px;
		}

		img{

			@include susy-breakpoint( $mobile) {
				width: 90%;
				max-width: 400px;
			}

		}
	}

	.div_cierre{
		float: right;
		margin-top: 40px;
		width: 100%;
		text-align: right;

		@include susy-breakpoint( $tablet-768) {
			width: 100%;
			margin-top: 20px;
			text-align: right;
		}

	}

	.div_cierre_thanks{
		float: right;
		margin-top: 202px;

		@include susy-breakpoint( $mobile) {
			margin-top: 0px;
		}

		@include susy-breakpoint( $tablet-768) {
			
			margin-top: 73px;
			text-align: right;
		}

	}

	footer{
		width: 100%;
		float: left;
		border-top: 1px #f48f9d solid;
		margin-bottom: 20px;

		@include susy-breakpoint( $tablet-1024) {
			
		}

		@include susy-breakpoint( $mobile) {
			margin-top: 20px;
		}

		p{
			float: left;
			font-family: $font-HelveticaNeueLt;
			font-size: 12px;
			color: #e6241a;
			text-transform: uppercase;
			margin-top: 10px;
		}

		img{
			margin-top: 12px;

			@include susy-breakpoint( $mobile) {
				width: 170px;
				margin-top: 17px;
			}
		}
	}
}