/*
Theme Name: Cotton USA LAtino
Theme URI: http://geometry.com.co/
Description: Tema realizado para Cotto USA
Version: 1.0 
Author: Geometry Global
Author URI: http://geometry.com.co/
License: GNU General Public License v2.0
*/
/*Colores*/
@font-face {
  font-family: "HelveticaNeueLTPro-LtCn";
  src: url('../fonts/HelveticaNeueLTPro-LtCn.eot?1481687278');
  src: url('../fonts/HelveticaNeueLTPro-LtCn.eot?&1481687278#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTPro-LtCn.woff?1481687278') format('woff'), url('../fonts/HelveticaNeueLTPro-LtCn.ttf?1481687278') format('truetype'), url('../fonts/HelveticaNeueLTPro-LtCn.svg?1481687278#HelveticaNeueLTPro-LtCn') format('svg');
}
@font-face {
  font-family: "HelveticaNeueLTPro-BdCn";
  src: url('../fonts/HelveticaNeueLTPro-BdCn.eot?1481674180');
  src: url('../fonts/HelveticaNeueLTPro-BdCn.eot?&1481674180#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTPro-BdCn.woff?1481674180') format('woff'), url('../fonts/HelveticaNeueLTPro-BdCn.ttf?1481674180') format('truetype'), url('../fonts/HelveticaNeueLTPro-BdCn.svg?1481674180#HelveticaNeueLTPro-BdCn') format('svg');
}
@font-face {
  font-family: "HelveticaNeueLTStd-Bd";
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot?1481592644');
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot?&1481592644#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Bd.woff?1481592644') format('woff'), url('../fonts/HelveticaNeueLTStd-Bd.ttf?1481592644') format('truetype'), url('../fonts/HelveticaNeueLTStd-Bd.svg?1481592644#HelveticaNeueLTStd-Bd') format('svg');
}
@font-face {
  font-family: "SummerHearts-Regular";
  src: url('../fonts/SummerHearts-Regular.eot?1481592644');
  src: url('../fonts/SummerHearts-Regular.eot?&1481592644#iefix') format('embedded-opentype'), url('../fonts/SummerHearts-Regular.woff?1481592644') format('woff'), url('../fonts/SummerHearts-Regular.ttf?1481592644') format('truetype'), url('../fonts/SummerHearts-Regular.svg?1481592644#SummerHearts-Regular') format('svg');
}
html, body {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #fff;
  color: #fff;
  font-size: 14px;
}


.tex-bottom-banner{
  width: 473px;
  text-align: center;
  color: #000;
  font-family:HelveticaNeueLTPro-BdCn;
  font-size: 22px;

}

.mtop20 {
  margin-top: 20px;
}

.mright40 {
  margin-right: 40px;
}

p, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}

.border_lef {
  border-left: 1px solid #243670;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*------ Clear Fix ------*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.content {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}
@media (min-width: 1px) and (max-width: 767px) {
  .content {
    width: 95%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    width: 95%;
  }
}
.content .cont_img_thanks {
  float: left;
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .cont_img_thanks {
    float: none;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .cont_img_thanks img {
    width: 250px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .content .cont_img_thanks img {
    width: 300px;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .content .cont_img_thanks img {
    width: 400px;
  }
}
.content .cont_img {
  float: left;
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .cont_img {
    float: none;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .cont_img img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .content .cont_img img {
    width: 300px;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .content .cont_img img {
    width: 400px;
  }
}
.content .copy {
  text-align: right;
  width: 525px;
  float: right;
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .copy {
    float: none;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .content .copy {
    width: 410px;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .content .copy {
    width: 445px;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .copy img {
    width: 90%;
    max-width: 400px;
  }
}
.content .copy img.img_cierre {
  max-width: 279px;
  margin-top: 20px;
}
.content .copy .formulario {
  width: 351px;
  float: right;
  text-align: left;
}
@media (min-width: 768px) and (max-width: 900px) {
  .content .copy .formulario {
    text-align: left;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .copy .formulario {
    text-align: center;
    width: 100%;
  }
}
.content .copy .formulario .campo {
  margin-bottom: 30px;
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .copy .formulario .campo {
    margin-bottom: 20px;
  }
}
.content .copy .formulario .campo label {
  color: #000;
  font-family: "HelveticaNeueLTPro-BdCn";
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
  width: 100%;
  float: left;
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .copy .formulario .campo label {
    font-size: 16px;
  }
}
.content .copy .formulario .campo input {
  border: 1px solid #d8202a;
  width: 328px;
  height: 35px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "HelveticaNeueLTPro-LtCn";
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .copy .formulario .campo input {
    width: 260px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .content .copy .formulario .campo input {
    width: 330px;
  }
}
.content .copy .formulario .campo .customSelect {
  /* This is the default class that is used */
  /* Put whatever custom styles you want here */
  width: 338px;
  padding-left: 10px;
  font-size: 17px;
  padding-top: 5px;
  height: 25px;
  color: #000;
  border: solid #d8202a 1px;
  text-align: left;
  font-family: "HelveticaNeueLTPro-LtCn";
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .copy .formulario .campo .customSelect {
    width: 270px;
  }
}
.content .copy .formulario .campo .customSelect.customSelectHover {
  /* Styles for when the select box is hovered */
}
.content .copy .formulario .campo .hasCustomSelect {
  margin-top: 10px;
}
@media screen and (min-width: 0\0) {
  .content .copy .formulario .campo .hasCustomSelect {
    margin-left: -350px;
  }
}
@media \0screen\,screen\9 {
  .content .copy .formulario .campo .hasCustomSelect {
    margin-left: -350px;
    margin-top: 32px;
  }
}
@-moz-document url-prefix() {
  .content .copy .formulario .campo .hasCustomSelect {
    margin-left: -350px;
    margin-top: 10px;
  }
}
.content .copy .formulario .campo .customSelect.customSelectOpen {
  /* Styles for when the select box is open */
}
.content .copy .formulario .campo .customSelect.customSelectFocus {
  /* Styles for when the select box is in focus */
}
.content .copy .formulario .campo .customSelect.customSelectDisabledOption {
  /* Styles for when the selected item is a disabled one */
}
.content .copy .formulario .campo .customSelect.customSelectDisabled {
  /* Styles for when the select box itself is disabled */
}
.content .copy .formulario .campo .customSelectInner {
  /* You can style the inner box too */
  width: 100% !important;
  background: url(../images/customSelect-arrow.png) no-repeat 98% center;
}
.content .copy .links_formu {
  width: 100%;
  float: right;
  text-align: right;
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .copy .links_formu {
    text-align: center;
  }
}
.content .copy .links_formu a {
  display: inline-block;
  text-decoration: none;
  font-family: "HelveticaNeueLTPro-LtCn";
  color: #000;
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .copy .links_formu a {
    width: 100%;
  }
}
.content .copy .links_formu a.btn_summit {
  width: 169px;
  height: 30px;
  padding-top: 6px;
  background-color: #dd1e25;
  color: #fff;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 10px;
  font-family: "HelveticaNeueLTStd-Bd";
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .copy .links_formu a.btn_summit {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.content .copy_thanks {
  text-align: center;
  width: 525px;
  float: right;
  margin-top: 220px;
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .copy_thanks {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .content .copy_thanks {
    width: 410px;
    margin-top: 120px;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .content .copy_thanks {
    width: 457px;
    margin-top: 180px;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .copy_thanks img {
    width: 90%;
    max-width: 400px;
  }
}
.content .div_cierre {
  float: right;
  margin-top: 40px;
  width: 100%;
  text-align: right;
}
@media (min-width: 768px) and (max-width: 900px) {
  .content .div_cierre {
    width: 100%;
    margin-top: 20px;
    text-align: right;
  }
}
.content .div_cierre_thanks {
  float: right;
  margin-top: 202px;
}
@media (min-width: 1px) and (max-width: 767px) {
  .content .div_cierre_thanks {
    margin-top: 0px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .content .div_cierre_thanks {
    margin-top: 73px;
    text-align: right;
  }
}
.content footer {
  width: 100%;
  float: left;
  border-top: 1px #f48f9d solid;
  margin-bottom: 20px;
}
@media (min-width: 1px) and (max-width: 767px) {
  .content footer {
    margin-top: 20px;
  }
}
.content footer p {
  float: left;
  font-family: "HelveticaNeueLTStd-Bd";
  font-size: 12px;
  color: #e6241a;
  text-transform: uppercase;
  margin-top: 10px;
}
.content footer img {
  margin-top: 12px;
}
@media (min-width: 1px) and (max-width: 767px) {
  .content footer img {
    width: 170px;
    margin-top: 17px;
  }

  .tex-bottom-banner{
    width: 350px;
    
  }

}
