{% extends 'base.html.twig' %}

{% block body %}
    {% if codigos is defined %}


        <h3>EL CÓDIGO APLICA</h3>
        <p>Código <b>{{codigo}},</b> aplica para la campaña de seguridad {{codigos[0].recall.nombre }}, ingrese sus datos de contacto para obtener más información.</p>


        <form action="{{ path('guardarRegistro') }}" method="post">
            <input type="hidden" name="codigo" value="{{ codigo }}">

            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="nombres" class="form-control" style="height:45px;min-height:45px;border-bottom-color:#ccc;border-bottom-width:1px;" placeholder="Nombres" required>
                </div>
                <div class="col-md-6">
                    <input type="text" name="apellidos" class="form-control" style="height:45px;min-height:45px;border-bottom-color:#ccc;border-bottom-width:1px;" placeholder="Apellidos" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <input type="email" name="correo" class="form-control" style="height:45px;min-height:45px;border-bottom-color:#ccc;border-bottom-width:1px;" placeholder="Correo electrónico" required>
                </div>
                <div class="col-md-6">
                    <input type="text" name="telefono" class="form-control" style="height:45px;min-height:45px;border-bottom-color:#ccc;border-bottom-width:1px;" placeholder="Télefono de contacto" required>
                    <input type="hidden" name="misRegistros" value="{{ misRegistros|json_encode() }}" >

                </div>
            </div>
            <input type="submit" class="btn btn-negro form-control" value="Ver información">
        </form>

    {% else %}

        <h3>LLAMADOS DE SEGURIDAD</h3>
        <p>El código <b>{{codigo}}</b>, no aplica para alguna de las campañas de seguridad vigentes de Freightliner Colombia Rectifique el código o intente nuevamente.</p>

        <form action="{{ path('buscarCodigo') }}" method="post">
            <input type="text" name="codigo" class="form-control" placeholder="Ingrese su código VIN o FIN" required>
            <div class="botones">
                <div class="col-md-6"><input type="submit" class="btn btn-negro" style="width:90%;" value="VOLVER A BUSCAR"></div>
                <div class="col-md-6"><a href="http://www.daimler.com.co/" class="btn btn-negro" >IR AL SITIO WEB</a></div>
            </div>
        </form>





    {% endif %}
{% endblock %}