{% extends 'base.html.twig' %}
{% block banerInicial %}{% endblock %}
{% block body %}


    <div class="container">
        <div class="inner clientes" style="margin-top:150px" id="">
            <hr>
            <!--CONTENIDOS-->
            <div class="container content-interna" style="margin-top:60px;">
                <div class="row">
                    <!--MENU LATERAL -->
                    <aside class="col-lg-3 col-md-3 col-sm-4 ">
                        <nav class="menuLateral">
                            <ul>
                                {% for ciudad in ciudades %}
                                    <li><a data-id="#{{ ciudad.id }}">{{ ciudad.nombre }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>

                    </aside>
                    <div class="col-lg-9 col-md-9 col-sm-8 tabinner concesionarios">
                        {% for ciudad in ciudades %}
                        <div id="{{ ciudad.id }}" class="contCon">
                            <div class="col-md-12">
                                <h3>{{ ciudad.nombre }}</h3>
                            </div>

                            {% set cont = 0 %}
                            {% for concesionario in ciudad.concesionarios %}
                                {% set cont = cont + 1 %}
                                {% if cont % 2 == 1 %}
                                    <div class="row capConce">
                                    <div class="col-md-6">
                                        <b>{{ concesionario.nombre }}</b><br>
                                        {{ concesionario.descripcion|raw }}
                                    </div>
                                {% else %}
                                    <div class="col-md-6">
                                        <strong>{{ concesionario.nombre }}</strong><br>
                                        {{ concesionario.descripcion|raw }}
                                    </div>
                                    </div>
                                {% endif %}

                            {% endfor %}

                            {% if cont % 2 == 1 %}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}