{% extends 'base.html.twig' %}
{% block body %}

    <h3>EL CÓDIGO APLICA</h3>
    {{codigo.recall.informacion|raw}}
    <div class="botones" style="margin-top: 30px">
        <div class="col-md-6">
            <a>Red de concesionarios</a>
        </div>
        <div class="col-md-6">
            <a>Ir al inicio</a>
        </div>
    </div>


{% endblock %}
