{% extends 'base.html.twig' %}

{% block body %}

    <h3>LLAMADOS DE SEGURIDAD</h3>

    <p>Bienvenido a la sección especializada de FUSO donde se le informará si su vehículo aplica para alguna de las campañas de seguridad vigentes.</p>

    <form action="{{ path('buscarCodigo') }}" method="post">
        <input type="text" name="codigo" class="form-control" placeholder="Ingrese los últimos 7 caracteres de su código VIN" required>
        <input type="submit" class="btn btn-negro form-control" value="Buscar">
        <div class="vin">
            <a href="javascript: void(0);" onmouseover="document.getElementById('tarjeta').style.display = 'inline';" onmouseout="document.getElementById('tarjeta').style.display = 'none';" target="_blank" class="tooltip1">¿Qué es un código VIN? <img src="{{asset('assets/icon-1.png')}}"></a>
            <span id="tarjeta" class="tooltiptext"><img src="{{asset('assets/tarjeta.jpg')}}"></span>
        </div>

    </form>


{% endblock %}