html, body {
    padding: 0px;
    margin: 0px;
    
    
}

body{
	background-color: #fff;
	color: #fff;
	font-size: 14px;
}

.mtop20{
	margin-top: 20px;
}
.mright40{
	margin-right: 40px;
}

p,h2,h3,h4{
	margin: 0px;
	padding:0px;
}

.border_lef{
	border-left: 1px solid #243670;
}


.left{
	float: left;
}

.right{
	float: right;
}



/*------ Clear Fix ------*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}