
$susy: (
    columns: 12,
    container: 1200px,    
	gutters: 3/4,
	math: fluid,
	output: float,
	gutter-position: inside,
);

$destocklg: (1200px);
$destock: (1024px);
$tablet:(768px 1024px);
$tablet-1024: (901px 1024px);
$tablet-768: (768px 900px);
$mobile: (1px 767px);


$font-HelveticaNeueLTProLtCn: 'HelveticaNeueLTPro-LtCn';
$font-HelveticaNeueLt: 'HelveticaNeueLTStd-Bd';
$font-HelveticaNeueLTProBdCn: 'HelveticaNeueLTPro-BdCn';
$font-SummerHearts: 'SummerHearts-Regular';



/*Colores*/







