{% extends 'base_admin.html.twig' %}
{# TODO Cabiar nomPagina #}
{% set nomPagina = recall.nombre %}
{% block pagina %}{{ nomPagina }}{% endblock %}
{% block ubicacion %}
    <li><a href="{{ path('admin_recalls_index') }}">Recalls</a></li>
    <li class="active">{{ nomPagina }}</li>
{% endblock %}

{% block content %}

    {% if app.request.get('error') is defined %}
        {% set error = app.request.get('error') %}
    {% endif %}
    {% if error is defined and error != null %}
        <div class="alert alert-danger alert-dismissible fade in">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <b>ERROR:</b> {{ error }}.
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ form_start(delete_form, { 'attr': {'class': '','id': 'form_delete'} }) }}
                    <h3 class="panel-title">Elementos Editables
                        <button type="button" class="btn btn-danger waves-effect waves-light btn-sm pull-right" id="" onclick="eliminar()">Eliminar</button>
                    </h3>
                    {{ form_end(delete_form) }}
                </div>
                <div class="panel-body">


                    {{ form_start(edit_form, { 'attr': {'class': 'form'} }) }}
                    {#
                    <label class="control-label">Imagen</label>
                    <img src="{{ asset('uploads/images/')~recall.imagen }}" class="responsive-img" alt="Imagen" style="max-width: 100%; max-height: 250px">
                    {{ form_row(edit_form.imagen, { 'label': 'Cambiar Imagen' }) }}#}

                    {{ form_row(edit_form.linkPdf, { 'label': 'Cambiar Archivo' }) }}
                    <div class="col-md-12 control-label panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ asset('uploads/docs/')~recall.linkPdf }}" class="panel-title text-info" target="_blank">Ver Archivo Actual</a>
                        </div>
                    </div>

                    {{ form_widget(edit_form, {'attr': {'class': 'form-group'}}) }}

                    {#<input type="hidden" name="img" value="{{ recall.imagen }}">#}
                    <input type="hidden" name="pdf" value="{{ recall.linkPdf }}">
                    <div class="form-group m-b-0">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Editar</button>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Códigos VIN <a href="{{ path('subirCodigosRecall', {'idRecall':recall.id}) }}" class="btn btn-success pull-right"><span class="md  md-file-upload"></span> Subir Códigos VIN</a></h3>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Código</th>
                                    <th>Fecha</th>
                                </tr>
                                </thead>


                                <tbody>
                                {% for entidad in recall.codigos %}
                                    <tr>
                                        <td>{{ entidad.id }}</td>
                                        <td>{{ entidad.codigo }}</td>
                                        <td>{{ entidad.fecha|date ('d/m/Y') }}</td>
                                    </tr>
                                {% else %}
                                    <div class="alert alert-info">
                                        No se han subido los VIN de este Recall.
                                    </div>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        function eliminar() {
            swal({
                    title: "Desea eliminar este elemento?",
                    text: "Si se elimina, no se podrá recuperar!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sí, Eliminar!",
                    closeOnConfirm: false
                },
                function () {
                    document.getElementById("form_delete").submit();
                    swal("Eliminado!", "Este elemento se eliminó.", "success");
                });
        }
    </script>
{% endblock %}