<!doctype html>
<html lang="es">
<head>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}Recall | Fuso{% endblock %}</title>


    <!-- Bootstrap -->
    <link href="{{ asset('../assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('../assets/css/main.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

</head>
<body >

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T43MTK7');</script>
<!-- End Google Tag Manager -->


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T43MTK7"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Lightning Bolt Begins -->
<script type="text/javascript">
    var lbTrans = '[TRANSACTION ID]';
    var lbValue = '[TRANSACTION VALUE]';
    var lbData = '[Attribute/Value Pairs for Custom Data]';
    var lb_rn = new String(Math.random()); var lb_rns = lb_rn.substring(2, 12);
    var boltProtocol = ('https:' == document.location.protocol) ? 'https://' : 'http://';
    try {
        var newScript = document.createElement('script');
        var scriptElement = document.getElementsByTagName('script')[0];
        newScript.type = 'text/javascript';
        newScript.id = 'lightning_bolt_' + lb_rns;
        newScript.src = boltProtocol + 'b3.mookie1.com/2/LB/' + lb_rns + '@x96?';
        scriptElement.parentNode.insertBefore(newScript, scriptElement);
        scriptElement = null; newScript = null;
    } catch (e) { }
</script>
<!-- Lightning Bolt Ends -->


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-86472044-1', 'auto');
    ga('send', 'pageview');

</script>

<div class="page">
    <div class="container">
        <header class="clearfix">
            <div class="logo-fuso">
                <a href="http://www.fuso.com.co"><img src="{{ asset('../assets/img/common/logo.png') }}" class="img-responsive"></a>
            </div>
            <div class="tittle-home hidden-xs">
                {% block titlePag %}{% endblock %}
            </div>
            <div class="logo-day position-right hidden-sm">
                <img src="{{ asset('../assets/img/common/cadadiac.png') }}" class="img-responsive">
            </div>
        </header>

        <div class="menu-principal col-md-1 hidden-xs hidden-sm clear ">
            <div  class="menu-main ">
                <ul>
                    <a href="http://fuso.com.co/s-productos/"><li id="menu-produc" class=""><img src="{{ asset('../assets/img/common/productos.png') }}"> </li></a>
                    <a href="http://fuso.com.co/s-posventa/"><li class="li-postventa "><img src="{{ asset('../assets/img/common/post-venta.png') }}"></li></a>
                    <a href="#"><li id="menu-red-distri" class=""><img src="{{ asset('../assets/img/common/red-de-distribucion.png') }}"></li></a>
                    <a href="http://fuso.com.co/s-contacto/" ><li class=" li-contacto "><img src="{{ asset('../assets/img/common/contacto.png') }}"></li></a>
                    <a href="http://fuso.com.co/s-test-drive/" ><li class=" li-test-drive "><img src="{{ asset('../assets/img/common/test-drive.png') }}"></li></a>
                    <a href="http://fuso.com.co/s-noticias/" class="link-noticias" ><li class=" li-noticias "><img src="{{ asset('../assets/img/common/noticias.svg') }}"><p>Noticias</p></li></a>
                    <a href="{{ path('homepage') }}" ><li class=" li-test-drive active"><img src="{{ asset('../assets/img/common/recall.png') }}"></li></a>

            </div>
        </div>

        <div class="conten-sub-productos " id="effect"  style="display: none;">
            <ul class="sub-productos">
                <li>
                    <h2 class="aling-left-canter titulo-menu-n">CANTER</h2>
                    <hr class="hr-canter-top">
                    <ul class="menu-canter clear">
                        <a href="http://fuso.com.co/s-productos-detalles/7-5m/"><li><h3 class="subtitulo-menu-n">7.5M</h3></li></a>
                        <a href="http://fuso.com.co/s-productos-detalles/7-5l/"><li><h3 class="subtitulo-menu-n">7.5L</h3></li></a>
                        <a href="http://fuso.com.co/s-productos-detalles/8-2/"><li><h3 class="subtitulo-menu-n">8.2</h3></li></a>
                    </ul>
                </li>
                <li>
                    <h2 class="titulo-menu-n aling-left-f1">FI</h2>
                    <hr class="hr-canter-top">
                    <ul class="menu-canter clear">
                        <a href="http://fuso.com.co/s-productos-detalles/10-4/"><li><h3 class="subtitulo-menu-n">10.4 W4250</h3></li></a>
                        <a href="http://fuso.com.co/s-productos-detalles/10-4-2/"><li><h3 class="subtitulo-menu-n">10.4 W4800</h3></li></a>
                    </ul>
                </li>
            </ul>
        </div>


        <div class="conten-sub-red-productos" id="effect-red" style="display: none;">
            <ul class="sub-red-produc">


                <a href="http://fuso.com.co/s-red-de-distribucion/bogota/"       ><li>Bogotá <img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></li> </a>
                <a href="http://fuso.com.co/s-red-de-distribucion/barranquilla/" ><li>Barranquilla <img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></li></a>
                <a href="http://fuso.com.co/s-red-de-distribucion/boyaca/"       ><li>Boyacá<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></li></a>
                <a href="http://fuso.com.co/s-red-de-distribucion/bucaramanga/"  ><li>Bucaramanga<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></li></a>
                <a href="http://fuso.com.co/s-red-de-distribucion/cali/"         ><li>Cali<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></li></a>
                <a href="http://fuso.com.co/s-red-de-distribucion/cucuta/"       ><li>Cúcuta<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></li></a>
                <a href="http://fuso.com.co/s-red-de-distribucion/ibague/"       ><li>Ibagué<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></li></a>
                <a href="http://fuso.com.co/s-red-de-distribucion/medellin/"     ><li>Medellín<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></li></a>
                <a href="http://fuso.com.co/s-red-de-distribucion/monteria/"     ><li>Montería<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></li></a>
                <a href="http://fuso.com.co/s-red-de-distribucion/pereira/"      ><li>Pereira<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></li></a>
                <a href="http://fuso.com.co/s-red-de-distribucion/villavicencio/"><li>Villavicencio<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></li></a>
                {#<a href="<?php echo $link->ToSubSeccion('red-de-distribucion','yopal'); ?>"><li>Yopal<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></li></a>#}



            </ul>
        </div>


        <!--Menu movil-->

        <div class="menu-movil visible-sm visible-xs" style="display: none">
            <button type="button" class="visible-sm visible-xs navbar-toggle" data-toggle="collapse" data-target="navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <nav class="navbar navbar-inverse none-pading hidden-md hidden-lg" id="menumovil" style="display: none">



            <div class="container-fluid none-pading">

                <ul class="nav navbar-nav none-margin">

                    <li class="dropdown ">

                        <a class="dropdown-toggle" data-toggle="dropdown" href="http://fuso.com.co/s-productos/">Productos
                            <span class="row-right"></span></a>
                        <ul class="dropdown-menu none-pading">
                            <li><a href="http://fuso.com.co/s-productos-detalles/7-5m/">Canter 7.5M</a></li>
                            <li><a href="http://fuso.com.co/s-productos-detalles/7-5l/">Canter 7.5L</a></li>
                            <li><a href="http://fuso.com.co/s-productos-detalles/8-2/">Canter 8.2</a></li>

                            <li><a href="http://fuso.com.co/s-productos-detalles/10-4/">10.4 W4250</a></li>
                            <li><a href="http://fuso.com.co/s-productos-detalles/10-4-2/">10.4 W4800</a></li>

                        </ul>
                    </li>
                    <li><a href="http://fuso.com.co/s-posventa/">Posventa</a></li>


                    <li class="dropdown ">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Red de concesionarios
                            <span class="row-right"></span></a>
                        <ul class="dropdown-menu none-pading">
                            <li><a href="http://fuso.com.co/s-red-de-distribucion/bogota/"       >Bogotá <img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></a></li>
                            <li><a href="http://fuso.com.co/s-red-de-distribucion/barranquilla/" >Barranquilla <img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></a></li>
                            <li><a href="http://fuso.com.co/s-red-de-distribucion/boyaca/"       >Boyacá<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></a></li>
                            <li><a href="http://fuso.com.co/s-red-de-distribucion/bucaramanga/"  >Bucaramanga<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></a></li>
                            <li><a href="http://fuso.com.co/s-red-de-distribucion/cali/"         >Cali<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></a></li>
                            <li><a href="http://fuso.com.co/s-red-de-distribucion/cucuta/"       >Cúcuta<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></a></li>
                            <li><a href="http://fuso.com.co/s-red-de-distribucion/ibague/"       >Ibagué<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></a></li>
                            <li><a href="http://fuso.com.co/s-red-de-distribucion/medellin/"     >Medellín<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></a></li>
                            <li><a href="http://fuso.com.co/s-red-de-distribucion/monteria/"     >Montería<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></a></li>
                            <li><a href="http://fuso.com.co/s-red-de-distribucion/pereira/"      >Pereira<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></a></li>
                            <li><a href="http://fuso.com.co/s-red-de-distribucion/villavicencio/">Villavicencio<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></a></li>
                            <!-- <li><a href="<?php echo $link->ToSubSeccion('red-de-distribucion','yopal'); ?>">Yopal<img src="{{ asset('../assets/img/common/menu/flecha.png') }}" class="row-menu"></a></li>-->
                        </ul>




                    </li>

                    <li><a href="http://fuso.com.co/s-contacto/" >Contacto</a></li>

                    <li><a href="http://fuso.com.co/s-test-drive/" >Test Drive</a></li>

                    <li><a href="http://fuso.com.co/s-noticias/" >Noticias</a></li>

                    <li><a href="{{ path('homepage') }}" >Llamado a consumidores</a></li>



                </ul>
            </div>
        </nav>
        <!-- Fin Menu movil-->

        <!-- Espacio para el contenido-->
        <div class="container-recall col-md-11">
            <div class="col-md-12 img-contacto">
                <img src="{{ asset('../assets/img/recall/home-recall.jpg') }}" class="img-responsive">
            </div>
            <div class="contenido">
                <h1>CAMPAÑA DE SEGURIDAD</h1>

                <div class="margenes-anchas text-center">
                    {% block body %}{% endblock %}
                </div>

            </div>
        </div>
        <footer class="clearfix col-md-12 col-md-offset-0" >
            <span class="tyc"><a href="{{ asset('../assets/pdf/Terminos-y-Condiciones-site-FUSO.pdf') }}" target="_blank">Políticas de privacidad y términos y condiciones.</a></span>
            | <span class="tyc"><a href="http://fuso.com.co/s-garantia/">Garantía.</a></span>
        </footer>

    </div>



</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ asset('../assets/js/jquery-1.12.4.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('../assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('../assets/js/jquery.sudoSlider.min.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="{{ asset('../assets/js/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
	