@media (min-width: 1920px) {
  .home #slider, .cabecera {
    width: 1920px;
    margin: auto;
  }

  .header {
    width: 1920px;
    margin: auto;
  }
  .contmenu{
      width: 1920px;
  }
}
@media (min-width: 768px) {
   /* #menu-mobile{
        display:none !important;
    }*/ 
}
@media (max-width: 767px) {
    .innerlogo{
        text-align: center;
    }
    .innernombre{
        text-align: center;
        font-size: 18px !important;
    }
}


@media (max-width: 992px) {
    .carouselprincipal .item {
        padding-top: 120px;
    }
    .home #slider {
        height: 300px;
    }
    .home #slider .pieSlider{
        background: #707070;
        display: block;
        height: 40px;
        padding-top: 15px;
        top:auto;
          
    }
    .pieSlider .capsulaSlider {
        width: auto;
    }
    .pieSlider .dot{
        background: #444444 none repeat scroll 0 0;
        cursor: pointer;
        float: left;
        height: 8px;
        margin-left: 5px;
        width: 8px;
    }
    .pieSlider .dot span{
        display: none;
    }
    .pieSlider .dot.active::before {
        display: none;
    }
    
    #slider .owl-prev, #slider .owl-next{
        display: none !important;
    }
    
    
    .pieSlider .dotsCont, .pieSlider .capsulaSlider{
        height: 100%;
        display: inline-block;
    }
    .pieSlider .dotsCont{
        text-align: center;
    }
    .footer .logos img {
        margin-right: 20px;
        width: 25%;
    }
     .footer .logos {
       text-align: center;
    }
    .navbar-toggle{
        display: block;
    }
    .menu-principal{
        display: none;
    }
    .navbar-toggle{
        float: left;
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .contblack a{
       font-size: 20px; 
    }
    .footer .logos img {
        margin-right: 0px;
        width: 70%;
        margin-bottom: 10px;
    }
    .cabecera .contblack{
        font-size: 30px;
    }
}
@media screen and (min-width: 1681px) {
    .logo img {
        height: 35px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1680px) {
    .logo img {
        height: 26px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo img {
        height: 35px;
    }
}
@media screen and (max-width: 767px) {
    .logo img {
        height: 21px;
    }
}